
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">        
            <h1 class="display-4">127 Hours</h1>
            <p class="lead">Don't get stuck between a rock and a hard place'</p>
            <hr class="my-4">
            <p>Ready to explore?</p>
            <p class="lead"><%= link_to "Add site", new_site_path, class:"btn btn-primary btn-lg" %>
            <p class="lead"><%= link_to "Show sites", booking_page_path, class:"btn btn-primary btn-lg" %>
            </p>
        </div>
        <div class ="col-md-6"> 
            <%= image_tag "intent", class: "home-image" %>
        </div>
    </div>
        
</div>

